[report]

exclude_lines =
    if __name__ == .__main__.:

[run]
omit = 
    ./api/src/mirrsearch/api/mock_database_manager.py
    ./api/src/mirrsearch/api/mock_query_manager.py
    ./api/src/mirrsearch/db/*
    ./api/setup.py