.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin + padding*/
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
}

/**
* Header styles for search result
*/
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background and border*/
    background-color: #cdcdcd; /*#dadada;*/ 
    
}

.h-row1 {
    display: flex;
    flex-direction: row;
}

.h-col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    text-align: left;
    margin-top: 4px;
    margin-left: 4px;
}

.h-col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    text-align: right;
    margin-top: 4px;
    margin-right: 4px;
}

.h-row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    text-align: left;
    margin-left: 4px;
}

/**
* Body styles for search result
*/
.b-col1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: inherit;
}

.b-col2 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: inherit;
}

.b-col3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: inherit;
}
