.search-result {
 border: 1px solid #ccc;
 padding: 10px;
 display: flex;
 flex-direction: column; /* Ensure containers stack vertically */
}

.container-1 {
 background-color: lightskyblue;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 /* border: 1px solid blue; Border around container-1 */
}

.container-2 {
 /* position: relative; */
 /* display: flex; */
 inline-size: 100%; /* Ensure container-2 occupies entire width */
 margin-block-start: 10px; /* Add space between container-1 and container-2 */
 align-self: flex-start; /* Align container-2 to the start (left) */
 /* border: 1px solid green; Border around container-2 */
 display: flex; /* Ensure container-2 behaves as flex container */
}

.left-half {
 padding: 10px;
 margin-inline-start: 0; /* Ensure left alignment */
 flex-direction: column; /* Stack items vertically */
 justify-content: flex-start; /* Align items to the start (left) */
 /* border: 1px solid red; Border around left-half */
 flex-grow: 1; /* Utilize available space */
}

.right-half {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 10px;
 margin-inline-end: 25%;
 /* border: 1px solid orange; Border around right-half */
 flex-grow: 1; /* Utilize available space */
}