.homepage_image {
    background-image: url('./images/homepage pic.jpeg');
    background-position: center;
    /*Center the image*/
    background-size: cover;
    /*Cover the entire div with the image*/
    background-repeat: no-repeat;
    /*Do not repeat the image*/
    background-attachment: fixed;
    /*The background image will not scroll with the page it will rather stay in place as you scroll*/
    height: 100vh;
    /* This will make the div take the full height of the viewport */
    display: flex;
    /* This will make the div a flex container */
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.searchresult_page {
    background-image: url('./images/grey background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}