.search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
  }
  
  input {
    padding: 8px;
    flex-grow: 1;
    border: 0px;
    border-bottom: 1px solid #ccc;
    margin-right: 8px;
    font-size: 16px;
    outline: none;
  }
  
  button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
