body {
    width: 99%;
    font-family: Arial, sans-serif;
    color: #665544;
}

h1 {
    background-color: #efefef;
    padding: 10px;
}

div {
    width: 450px;
}

button {
    background-color: #efefef;
    border: 1px solid #665544;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    color: #665544;
}



